@font-face { font-family: Roboto; src: url("chrome-extension://mcgbeeipkmelnpldkobichboakdfaeon/css/Roboto-Regular.ttf"); }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.background-1{
    background-image: url(img/bg.jpg);
    height: 100vh;
}

.background-2{
    background-image: url(img/bg1.jpg);
    height: 100vh;
}

.background-3{
    background-image: url(img/bg2.jpg);
    height: 100vh;
}

.background-4{
    background-image: url(img/bg3.jpg);
    height: 100vh;
}

.background-5{
    background-image: url(img/bg.jpg);
    height: 100vh;
}

.background-1, .background-2, .background-3, .background-4, .background-5{
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
}

.big{
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: .5rem;
    color: #fff;
    background-color:#000;
    padding: 2rem 2rem;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    outline-offset: 1rem;
    outline: .5rem solid purple;
}

.small{
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: .5rem;
    color: #fff;
    background-color:#000;
    padding: 1.5rem 1.5rem;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    outline-offset: .5rem;
    outline: .5rem solid purple;
}

h2{
    margin-bottom: 2rem;
    font-size: 1.6rem;
}

.text-container{
    text-align: center;
    line-height: 2rem;
    padding: 3rem 5rem;
}

.white{
    background-color: #F1F1F1;  
    color: #666;
}

.black{
    background-color: #282E34;
    color: #fff;
}

.img-container{
    text-align: center;
}

img{
    width: 40%;
}

@media (max-width:870px){
    .small,.big{
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: normal;
        padding: 2rem 2rem;
    }
}

@media(max-width: 510px){
    .small,.big{
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: normal;
        padding: 1rem 1rem;
        border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    }
}